{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout de catégories
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid">
        <div class="row tag w95">
            <h1>Vous pouvez rajouter une catégorie</h1>
            <form action="{{ path('admin_categorie_insert') }}" method="post" class="form">
                <input type="text" name="title" class="input" placeholder="Entrer le titre de la catégorie">
                <textarea name="description" id="content" cols="30" rows="10" class="input" placeholder="Entrer la description de la catégorie"></textarea>
                <input type="submit" value="Ajouter" class="button">
            </form>
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <p>
        Merci d'ajouter des catégories.
    </p>
{% endblock footer %}